 @import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css);
.social a {
    text-align: center;
    /*width: 48px;
    height: 48px;*/
    float: right;
    background: #fff;
    /*border: 1px solid #ccc;*/
    /*box-shadow: 0 2px 4px rgba(0,0,0,0.15), inset 0 0 50px rgba(0,0,0,0.1);*/
    border-radius: 24px;
    margin: 0 10px 10px 0;
    padding: 6px;
    color: #000;
}



header{
    width: 900px;
    height: 150px;
	background-color: #6516b5; 
	margin: 5px auto;
    padding-left: 30px;
    /*font-family: Snell Roundhand, cursive;*/
	
}

header a{
        color: #fff;
        font-size: 15px;
        padding: 0 25px;
       border-right: 2px solid #fff;
       transition: .3s all ease;
}
.logo{
    padding-top: 10px;
    float: left;
    color: #fff;
    font-size: 35px;
    text-align: left;
    padding left: 25px 50px;
}
     .menu {
        padding-top: 25px;
        display: flex;
        list-style-type: none; 
     }
     .menu li a{
        text-transform: uppercase;
        text-decoration: none;
     }
     div{width: 900px; 
        margin: 10px auto; 
        font-family: Courier New, monospace;

     }
     aside{
        color: #fff;
        background-color: #ddace3 /*fcbef7*//*#e17afb*//*#f6d4fe*/;
     	height: 500px; 
     	text-align:left;
     	 width: 250px; 
     	 padding-top: 30px; 
         padding-left: 0px;
     	 float:left;
         font-size: 20px;
     }
     main{
        margin: 30px auto;
        background-color: #ddace3;
        height: 550px; 
        text-align:center; 
        padding-top: 20px;
     }

     footer{

         font-family: URW Chancery L, cursive;
        color: #7b7db8; 
        background-color: pink; 
        width: 900px;
         height: 100px; 
         text-align:left; 
         padding-top: 10px;
         margin: 30px auto; 
         padding-left: 20px;  
         line-height: 1.5;

     }


     img{
        float: left;
        padding-right: : 15px;
     }
    p{

    font-size: 15px;
    float: top-right;
}


 a { 
    text-decoration: none;
}

.signs{
    color: #093ad9; 
    word-spacing: 15px;
    font-size: 20px; 

}
    
    .whatsapp a:hover {background: #1caf22; color: #fff;}

    .instagram a:hover{background: #3f729b; color: #fff;}

    .twitter a:hover  {background: #00acee; color: #fff;}
